* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans';
    color: #FFFFFF;
}

@font-face {
    font-family: 'Work Sans';
    src: url("./fonts/WorkSans.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
}

body {
    background-color: rgb(179, 179, 179);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 2rem 4rem;
}

input {
    border: none;
    background-color: transparent;
    width: 85%;
    height: 100%; 
    display: flex;
    color: #FFFFFF;
    font-size: 30px;
    padding: 0 2rem;
    outline: none;
}

button {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
}

input::placeholder {
    color: rgb(255, 255, 255, .7);
    font-size: 30px;
    font-weight: 400;
}

.search-bar-container {
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    background-color: rgb(255, 255, 255, .45);
}

#search-icon {
    display: flex;
    background-color: transparent;
    width: 30px;
    height: 30px;
    margin-right: 20px;
    cursor: pointer;
}

.main-block {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
}

.location-name {
    font-size: 60px;
    font-weight: 500;
}

.temp {
    display: flex;
}

.degrees {
    font-size: 100px;
    font-weight: 500;
}

.feels-like {
    padding-top: 65px;
    padding-left: 2rem;
    font-size: 28px;
    font-weight: 500;
}

.description {
    font-size: 40px;
    font-weight: 500;
}

.daily-block {
    background-color: rgb(255, 255, 255, .45);
    width: 95%;
    height: fit-content;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1.2rem;
    font-size: 20px;
}

.daily-forecast {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.day {
    font-size: 26px;
}

.extra-info-block {
    display: flex;
    flex-wrap: wrap;
    justify-self: start;
    padding: 1rem 0;
    gap: 1rem;
    width: 95%;
    justify-content: space-around;
}

.info-square {
    width: 8rem;
    height: 8rem;
    background-color: rgb(255, 255, 255, .45);
    border-radius: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2.5rem;
    
}

.info-square-title {
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
}

.precipitation-title {
    font-size: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    font-weight: 400;
    text-align: center;
}

.amount-percent {
    font-size: 1.8rem;
    text-align: center;
    font-weight: 400;
}

.time {
    font-size: 1.8rem;
    font-weight: 500;
}

.sunrise-title {
    font-size: 1.2rem;
    font-weight: 400;
}

#precipitation-percent {
    font-size: 1.8rem;
    text-align: center;
    font-weight: 400;
}


@media (max-width: 768px) {
    .daily-block {
        flex-wrap: wrap;
        height: fit-content;
        justify-content: stretch;
        gap: 1rem;
    }

}

@media (max-width: 480px) {
    body {
        margin: 3rem 1rem;
    }

    .location-name {
        font-size: 3rem;
    }

    .degrees {
        font-size: 6rem;
    }

    .description {
        font-size: 2rem;
    }

    .feels-like {
        padding-left: 0;
    }

    .daily-block {
        width: 86%;
        justify-self: center ;
    }

}